<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>選項一</title>
</head>
<body>
    
<h1>本計畫完成的事情</h1>
<p>自選兩個table連結前後端</p>
<p>合併兩個table的內容</p>
<p>將課堂實作項目及老師的履歷及課表用card方式顯示</p>

<a href="/index.html">回首頁</a>
    
</body>
</html>